[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
tox = "*"
pylint = "*"
pytest-cov = "*"
pytest-xdist = "*"
coverage = "*"

[packages]
cab = {editable = true,path = "."}

[requires]
python_version = "3.7"
